{% extends 'usernavigation.html' %}
{% load static %}
{% block body %}


{% if error ==  "no" %}
<script>
    alert('Password Change Successfully');
    window.location=('{% url 'logout' %}');
</script>

{% elif error == "yes" %}
<script>
    alert('Invalid Login Credentials, Try Again');
</script>
{% endif %}

<div class="container mt-5">
<div class="row">
    <div class="col-sm-6">
       <img src = "{% static 'images/img5.jpg'%}" STYLE = 'width:90%; height:400px'>
    </div>

    <div class="col-sm-6">
        <h2 class="text-center">CHANGE PASSWORD</h2>
        <hr>
        <form method="post">
            {% csrf_token %}
            <label>Old Password</label>
            <input type="password" class="form-control" placeholder="ENTER OLD PASSWORD " name="old">
            
            <label>New Password</label>
            <input type="password" class="form-control" placeholder="ENTER NEW PASSWORD" name="new">
            
            <label>Confirm Password</label>
            <input type="password" class="form-control" placeholder="RE-ENTER NEW PASSWORD" name="confirm">
            
            <input type = submit class="btn btn-danger mt-2" value= "SUBMIT">
        </form>    
    </div>
</div>
</div>

{% endblock %}