{% extends 'navigation.html' %}
{% load static%}
{% block body %}

<div style="background-color:green ; width:100% ; height:90px;">
    <h3 class="text-white container pt-4">CONTACT US</h3>
</div>

<div class="container mt-5">
    <div class ="row">
        <div class ="col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14725.733425180217!2d75.46925058283367!3d22.67490622000664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39624d02916271cf%3A0x787f44184193d4bf!2sNational%20Steel%2C%20Lebad%2C%20Madhya%20Pradesh%20454773!5e0!3m2!1sen!2sin!4v1727537168456!5m2!1sen!2sin" width="500" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class ="col-sm-6 mt-5">
           <p><i class="fas fa-envelope"></i> Email ID: manshikapatel22@gmail.com </p>
           <p><i class="fas fa-phone-square"></i> Contact: 9876543215</p>
           <p><i class="fas fa-address-card"></i> Address: National Colony </p>
           <p><i class="fas fa-clock"></i>Hours: 10:00am to 7:00 pm </p>
            <p>FOLLOW US : </p>
           <a href="#"><i class="fab fa-linkedin"></i></a>
           <a href="#"><i class="fab fa-telegram-plane pl-5"></i></a>
           <a href="#"><i class="fab fa-github pl-5" style="color:black;"></i></a>
        </div>
</div>
{% endblock %}